.relocation {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  height: 100vh;
  width: 100%;
  background-color: black; 
  position: relative;
  overflow: hidden;
}

.border-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center; 
  background-color: black; 
  padding: 10px 0; 
}

.border {
  width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 0.9;
}

.grain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.12;
  pointer-events: none;
  mix-blend-mode: hard-light;
  z-index: 10;
}

.relocation-text {
  position: absolute;
  left: 5%;
  z-index: 2; 
  max-width: 40%;
  text-align: left;
  display: flex;
  flex-direction: column; 
  gap: 0px; 
}


.relocation-text h2 {
  font-family: 'AvantGarde-Bold';
  font-size: clamp(3rem, 5vw, 6rem); 
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  color: #ff9800;
  font-feature-settings: 'ss01' 1;
}


.relocation-text p {
  font-family: 'AvantGarde-Medium';
  font-size: clamp(1rem, 1vw, 1.5rem); 
  line-height: 1.6;
  color: #fbedda; 
}



.background-video {
  position: absolute;
  top: 0;
  left: 50%; 
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transform: translateX(-20%); 
  
}

@media (max-width: 768px) {
  .relocation {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }

  
  .relocation-text {
    position: relative;
    left: 0;
    max-width: 90%;
    text-align: center;
    align-items: center;
    margin-top: 15%;
  }

  .relocation-text h2,
  .relocation-text p {
    text-align: center;
  }
  .relocation-text p {
    font-size: 0.8rem;
  }

  
  .background-video {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 90vh;
    transform: none;
  }
}