<section class="relocation">
  <img class="grain" src="assets/grain.webp" loading="lazy" width="2120" sizes="100vw">
  <div class="relocation-text">
    <h2>READY TO RELOCATE WORLDWIDE</h2>
    <p>
      I am open to relocating worldwide for the right opportunity. I am eager to bring my skills 
      and experience to diverse environments, embrace new challenges, and contribute to global teams. 
      My adaptability and problem-solving mindset make me well-suited for international work opportunities.
    </p>
  </div>
  <video id="relocation-video" autoplay loop muted playsinline class="background-video">
    <source src="assets/rel.webm" type="video/webm">
    Your browser does not support the video tag.
  </video>
  <div class="border-container">
    <img class="border" src="assets/border.PNG" loading="lazy">
  </div>
</section>
