<section class="footer">
  <img class="grain" src="assets/grain.webp" loading="lazy" width="2120" sizes="100vw">

  <div class="social-links">
    <a href="https://github.com/ioanniskemerlis" target="_blank">
      <img src="/assets/github.png" alt="GitHub">
    </a>
    <a href="https://linkedin.com/in/ioannis-kemerlis-a21173315" target="_blank">
      <img src="/assets/linkedin.png" alt="LinkedIn">
    </a>
    <a href="mailto:ioanniskemerlis@gmail.com">
      <img src="/assets/gmail.png" alt="Email">
    </a>
  </div>
  <div>
  <p>Copyright &copy;  2025 All rights reserved.</p>
  <p>Created by Ioannis Kemerlis</p>
</div>
</section>
