<section class="categories">
  <img class="grain" src="assets/grain.webp" loading="lazy" width="2120" sizes="100vw">
  <div class="image-container">
    <img src="assets/brain.jpg" alt="TechBrain">
    <div class="bottom-cover"></div> 
  </div>

  <div class="image-text">
    
    <div class="heading-group">
      <h2>Bridging Code</h2>
      <h3>and Business</h3>
      <h4>Innovation</h4>
    </div>

    
    <div class="text-group">
      <p>
        I am a Full-Stack Developer with a foundation in business administration and a passion for technology.
        From Java, Python, and C# to Angular, Spring Boot, and MongoDB, I create efficient, scalable applications
        that solve real-world problems.
      </p>
    </div>
  </div>
  <div class="border-container">
    <img class="border" src="assets/border.PNG" loading="lazy">
  </div>
</section>
