<div class="app-container">
  <section class="sections">
    <app-header></app-header>
  </section>

  <section class="sections">
    <app-hero></app-hero>
  </section>

  <section class="sections">
    <app-categories></app-categories>
  </section>

  <section class="sections">
    <app-featured></app-featured>
  </section>

  <section class="sections">
    <app-relocation></app-relocation>
  </section>

  <section class="sections" id="contact">
    <app-contact></app-contact>
  </section>

  <section class="sections">
    <app-footer></app-footer>
  </section>

  <router-outlet></router-outlet>
</div>
